nav {
  margin-top: 50px;
}
.m-top-100 {
  margin-top: 100px;
}
.m-top-10 {
  margin-top: 10px;
}
table {
    table-layout: fixed;
    word-wrap: break-word;
}
.table {
  margin-bottom: 50px;
}
.table>tbody>tr>td.td-middle {
  vertical-align: middle;
}
/* Loader */
.spinner-bg {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 9999;
}
.spinner {
  font-size: 140px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: auto;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
.spinner {
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease;
  animation: load6 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em #3d3d3d, 0 -0.83em 0 -0.42em #3d3d3d, 0 -0.83em 0 -0.44em #3d3d3d, 0 -0.83em 0 -0.46em #3d3d3d, 0 -0.83em 0 -0.477em #3d3d3d;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em #3d3d3d, 0 -0.83em 0 -0.42em #3d3d3d, 0 -0.83em 0 -0.44em #3d3d3d, 0 -0.83em 0 -0.46em #3d3d3d, 0 -0.83em 0 -0.477em #3d3d3d;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em #3d3d3d, -0.087em -0.825em 0 -0.42em #3d3d3d, -0.173em -0.812em 0 -0.44em #3d3d3d, -0.256em -0.789em 0 -0.46em #3d3d3d, -0.297em -0.775em 0 -0.477em #3d3d3d;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em #3d3d3d, -0.338em -0.758em 0 -0.42em #3d3d3d, -0.555em -0.617em 0 -0.44em #3d3d3d, -0.671em -0.488em 0 -0.46em #3d3d3d, -0.749em -0.34em 0 -0.477em #3d3d3d;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em #3d3d3d, -0.377em -0.74em 0 -0.42em #3d3d3d, -0.645em -0.522em 0 -0.44em #3d3d3d, -0.775em -0.297em 0 -0.46em #3d3d3d, -0.82em -0.09em 0 -0.477em #3d3d3d;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em #3d3d3d, 0 -0.83em 0 -0.42em #3d3d3d, 0 -0.83em 0 -0.44em #3d3d3d, 0 -0.83em 0 -0.46em #3d3d3d, 0 -0.83em 0 -0.477em #3d3d3d;
  }
}
@keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em #3d3d3d, 0 -0.83em 0 -0.42em #3d3d3d, 0 -0.83em 0 -0.44em #3d3d3d, 0 -0.83em 0 -0.46em #3d3d3d, 0 -0.83em 0 -0.477em #3d3d3d;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em #3d3d3d, 0 -0.83em 0 -0.42em #3d3d3d, 0 -0.83em 0 -0.44em #3d3d3d, 0 -0.83em 0 -0.46em #3d3d3d, 0 -0.83em 0 -0.477em #3d3d3d;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em #3d3d3d, -0.087em -0.825em 0 -0.42em #3d3d3d, -0.173em -0.812em 0 -0.44em #3d3d3d, -0.256em -0.789em 0 -0.46em #3d3d3d, -0.297em -0.775em 0 -0.477em #3d3d3d;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em #3d3d3d, -0.338em -0.758em 0 -0.42em #3d3d3d, -0.555em -0.617em 0 -0.44em #3d3d3d, -0.671em -0.488em 0 -0.46em #3d3d3d, -0.749em -0.34em 0 -0.477em #3d3d3d;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em #3d3d3d, -0.377em -0.74em 0 -0.42em #3d3d3d, -0.645em -0.522em 0 -0.44em #3d3d3d, -0.775em -0.297em 0 -0.46em #3d3d3d, -0.82em -0.09em 0 -0.477em #3d3d3d;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em #3d3d3d, 0 -0.83em 0 -0.42em #3d3d3d, 0 -0.83em 0 -0.44em #3d3d3d, 0 -0.83em 0 -0.46em #3d3d3d, 0 -0.83em 0 -0.477em #3d3d3d;
  }
}