<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Wbooks</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/united/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="static/styles.css">
  <link rel="shortcut icon" href="static/favicon.ico">
</head>
<body ng-app="wbooks">

  <wbooks-spinner></wbooks-spinner>

  <div class="container">
    <ui-view></ui-view>
  </div>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.min.js"></script>
  <script type="text/javascript" src="static/app.js"></script>
  <script type="text/javascript" src="static/wbooks.ctr.js"></script>
  <script type="text/javascript" src="static/wbooks.fac.js"></script>
  <script type="text/javascript" src="static/wbooks.dir.js"></script>
  <script type="text/javascript" src="static/wbooks.ftr.js"></script>
</body>
</html>